.bg_img{
    height:1px;
}
.bg_side2{
    margin-left: 85vw;
    height: 100vh;
    margin-top: 70vh;
}
.bg_side1{
    margin-left: 2vw;
   
    height: 100vh;
}
.bg_side3{
    margin-left: 2vw;
    height: 100vh;
    margin-top: 45vh;
}